html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: auto;
}

.title {
  margin: 0;
  padding: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.paragraph {
  margin: 0;
  padding: 0;
}

:root {
  --skillbox-color: #3F2AFF;
  --dark-gray-color: #212133;
  --color-gray: #666666;
  --gray-2-color: #85859B;
  --white-color: #fff;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"),
  url(../fonts/Roboto-Regular.woff2) format("woff2"),
  url(../fonts/Roboto-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"),
  url(../fonts/Roboto-Bold.woff2) format("woff2"),
  url(../fonts/Roboto-Bold.woff) format("woff");
  font-weight: 700;
  font-style: medium;
  font-display: swap;
}

/* Header */

.header {
  background-color: var(--skillbox-color);
}

.header__container {
  display: flex;
  flex-direction: row;
  padding: 26px 16px;
  justify-content: space-between;
}

.header__nav {
  display: flex;
}

.burger {
  display: none;
}

.nav__item {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--white-color);
}

.nav__item:not(:last-child) {
  margin-right: 56px;
}

/* Hero */

.hero {
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
  padding-bottom: 7px;
}

.hero__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  /* background-image: url('../img/hero-img.png'); */
}

.hero__container-left {
  display: inline;
  align-items: center;
  padding-top: 130px;
}

/* .hero__container-right {
  position: relative;
} */

.hero__title {
  margin: 0;
  margin-bottom: 29px;
  color: var(--white-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
}

.hero__paragraph {
  margin: 0;
  margin-bottom: 61px;
  color: var(--white-color);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.hero__button {
  padding: 24px 75px;
  border-radius: 20px;
  background-color: var(--skillbox-color);
  color: var(--white-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.hero__img {
  margin-top: 15px;
  /* top: -115px;
  right: 0;
  left: 494px;
  bottom: 0;
  max-width: 632px;
  max-height: 593px; */
}

/* Advantages */

.advantages {
  padding-top: 80px;
  padding-bottom: 59px;
}


.skillbox-training {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}

.skillbox-training__img {
  max-width: 100%;
}


.skillbox-training__title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 17px;
}

.skillbox-training__paragraph {
  max-width: 580px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-gray);
}

.skillbox-training__title {
  max-width: 380px;
}

.advantages__list {
  padding-left: 0;
}

.advantages__list-item {
  display: flex;
  justify-content: center;
  list-style: none;
}

.advantages__item-paragraph {
  color: var(--color-gray);
  margin-left: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
}

/* Teachers */

.teachers {
  background-color: var(--dark-gray-color);
  padding-top: 73px;
  padding-bottom: 57px;
}

.teachers__container {
  color: var(--white-color);
}

.teachers__container-title {
  margin: 0;
  margin-bottom: 25px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
}

.teachers__list {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.teachers__list-item {
  max-width: 255px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-top: 210px;
  background-repeat: no-repeat;
}

.teachers__list-item:not(:last-child) {
  margin-right: 30px;
}

.teachers__item-1 {
  background-image: url('../img/teacher-1.jpg');
}

.teachers__item-2 {
  background-image: url('../img/teacher-2.jpg');
}

.teachers__item-3 {
  background-image: url('../img/teacher-3.jpg');
}

.teachers__item-4 {
  background-image: url('../img/teacher-4.jpg');
}

.teacher__name {
  margin: 0;
  margin-bottom: 8px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}

.teacher__descr {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-2-color);
}

/* Courses */

.courses {
  padding-top: 74px;
  padding-bottom: 34px;
}

.courses__title {
  margin-bottom: 22px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
}

.courses__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.course__list-item {
  position: relative;
  border-radius: 25px;
  background-repeat: no-repeat;
  max-width: 540px;
  height: 480px;
  margin-bottom: 30px;
  padding-top: 212px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  background-color: #EDF0F9;
}

/* .course__list-item:not(:nth-child(2n)) {
  margin-right: 30px;
} */

.course__item-1 {
  background-image: url(../img/course-1.jpg);
}

.course__item-2 {
  background-image: url(../img/course-2.jpg);
}

.course__item-3 {
  background-image: url(../img/course-3.jpg);
}

.course__item-4 {
  background-image: url(../img/course-4.jpg);
}

.course__list-item-title {
  margin-bottom: 7px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}

.course__list-item-descr {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-gray);
  margin-bottom: 48px;
}

.course__list-item-about-btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
  border-radius: 20px;
  padding: 20px 60px;
  background-color: var(--skillbox-color);
  color: var(--white-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

/* Footer */

.footer__social {
  padding: 26px 0;
  background-color: var(--dark-gray-color);
  text-align: center;
}

.social__link:not(:last-child) {
  margin-right: 26px;
}

.skillbox__copyright {
  text-align: center;
}

.copyright__container {
  padding-top: 3px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .skillbox-training {
    flex-wrap: nowrap;
  }
}

@media (max-width: 990px) {
  .hero {
    padding-bottom: 100px;
  }

  .hero__img {
    display: none;
  }

  .course__list-item {
    height: 556px;
  }

  .advantages__list-item {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item-paragraph {
    margin: 0;
  }

  .teachers__list-item {
    margin: 0 auto;
  }

  .teacher_li {
    margin-bottom: 15px;
  }
}


@media (max-width: 775px) {
  /* Header */

  .header__container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .img__logo {
    margin-bottom: 30px;
  }

  /* Hero */

  .hero {
    height: 567px;
  }

  .hero__container-left {
    padding-top: 77px;
  }

  .hero__title {
    margin-bottom: 15px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
  }

  .hero__paragraph {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }

  .hero__img {
    display: none;
  }

  /* Advantages */

  .skillbox-training {
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .skillbox-training__title {
    margin: 0;
    max-width: 100%;
  }

  .advantages__list-item {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item-paragraph {
    margin: 0;
  }

  /* Teachers */

  .teacher_li {
    margin-bottom: 15px;
  }

  /* Courses */

  .course__list-item {
    height: 653px;
  }

  .course__list-item-about-btn {
    padding: 20px 48px;
  }
}

@media (max-width: 575px) {

  .advantages__list-item {
    flex-wrap: nowrap;
  }

  .skillbox-training__title {
    margin-bottom: 15px;
  }

  .skillbox-training__img {
    display: none;
  }

  .advantages__item-paragraph {
    margin-top: 20px;
    margin-left: 20px;
  }

  .teachers__list-item {
    max-width: 100%;
    background-position: center top 15px;
  }

  .teacher__name {
    text-align: center;
  }

  .course__list-item-about-btn {
    padding: 20px 60px;
  }
}

@media (max-width: 520px) {

  .header__container {
    justify-content: space-between;
  }

  .header__nav {
    display: none;
  }

  .burger {
    display: block;
  }

  .img__logo {
    margin: 0;
  }
}
